.h1 {
  font-size: 63px;
}
.h2 {
  font-size: 52px;
}
.h3 {
  font-size: 43px;
}
.h4 {
  font-size: 34px;
}
.h5 {
  font-size: 25px;
}
.h6 {
  font-size: 16px;
}

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-text-gray {
  color: var(--color-text-gray);
}
.color-text-light {
  color: var(--color-text-light);
}
.color-text {
  color: var(--color-text);
}
.color-alert {
  color: var(--color-alert);
}
.color-warning {
  color: var(--color-warning);
}
